/* Editor.css */
.tiptap-editor {
    border: none;
    border-radius: 4px;
    padding: 10px;
    min-height: 150px;
    outline: none !important;
    position: relative;
  }

/* Target ProseMirror's focus styling */
.tiptap-editor .ProseMirror:focus {
  outline: none !important; /* Remove ProseMirror's focus outline */
}

.tiptap-editor h1 {
  font-size: 2em;
  font-weight: bold;
}

.tiptap-editor h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.tiptap-editor h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.tiptap-editor h4 {
  font-size: 1em;
  font-weight: bold;
}

.tiptap-editor a {
  color: #3b82f6;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
}

.tiptap-editor a:hover {
  color: #2563eb;
}

.tiptap-editor [style*="--line-height"] {
  line-height: var(--line-height) !important;
}

.tiptap-editor p {
  margin: 0.5em 0;
}

.task-list {
  list-style: none !important;
  padding: 0 !important;
}

.task-item {
  position: relative;
  padding-left: 1.5em;
  margin: 0.2em 0;
}

.task-item input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0.3em;
  margin: 0;
  width: 1em;
  height: 1em;
}

/* Nested task list styles */
.task-item .task-list {
  margin-left: 1.5em;
}

.task-item p {
  margin: 0;
  min-height: 1.5em;
  padding: 0.1em 0;
}

/* Add these styles */
.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.bullet-list {
  list-style-type: disc !important;
}

.ordered-list {
  list-style-type: decimal !important;
}

[data-resizable-image-wrapper] {
  position: relative;
  display: inline-block;
  width: auto;
  margin: 0 auto;
}

[data-resizable-image-wrapper] img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.resize-handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 30%;
  width: 12px;
  background-color: grey;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 100;
}

[data-resizable-image-wrapper]:hover .resize-handle {
  opacity: 0.6;
}

.resize-handle:hover {
  opacity: 1 !important;
}

.resize-handle-left {
  left: -6px;
  cursor: ew-resize !important;
}

.resize-handle-right {
  right: -6px;
  cursor: ew-resize !important;
}
