/* Editor.css */
.tiptap-editor {
    border: none;
    border-radius: 4px;
    padding: 10px;
    min-height: 150px;
    outline: none !important;
    position: relative;
  }

/* Target ProseMirror's focus styling */
.tiptap-editor .ProseMirror:focus {
  outline: none !important; /* Remove ProseMirror's focus outline */
}

.tiptap-editor h1 {
  font-size: 2em;
  font-weight: bold;
}

.tiptap-editor h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.tiptap-editor h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.tiptap-editor h4 {
  font-size: 1em;
  font-weight: bold;
}

.tiptap-editor a {
  color: #3b82f6;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
}

.tiptap-editor a:hover {
  color: #2563eb;
}
